body {
  background: url(https://images.pexels.com/photos/3493777/pexels-photo-3493777.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) center / cover;
  height: 60vh;
  justify-content: center;
  text-align: center;
}

h1 {
  color: hsla(0, 0%, 100%, 0.9);
  font-weight: bold;
}
